<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/admin/base/table.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="col-md-12">
    <div class="portlet box">
        <div class="portlet-body">
            <div class="lg-block">
                <div class="lg-block-content2">
                    <div class="lg-block-title2">
                        <span class="lg-block-subtitle1">个人设置</span>
                        <span class="lg-block-subtitle2">Personal Settings</span>
                    </div>
                    <form id="c_person_form" enctype="multipart/form-data">
                        <ul>
                            <li>
                                <div class="pform-title">用户名:</div>
                                <input name="yhm" class="pform-content pform-disabled" type="text" disabled="disabled"/>
                                <span class="pfrom-tips">用户名一旦注册成功不得修改</span>
                            </li>
                            <li>
                                <div class="pform-title">新密码:</div>
                                <input name="xmm" class="pform-content" type="password"/>
                                <span class="pfrom-tips">密码必须是字母、数字、连接符号,不能是汉字。密码设置6~8位</span>
                            </li>
                            <li>
                                <div class="pform-title">重复新密码:</div>
                                <input name="cfxmm" class="pform-content" type="password"/>
                                <span class="pfrom-tips">重复输入的密码必须和上一步输入的密码保持一致</span>
                            </li>
                            <li>
                                <div class="pform-title">姓名:</div>
                                <input name="xm" class="pform-content pform-disabled" type="text" disabled="disabled"/>
                                <span class="pfrom-tips">如果需要修改自己的姓名,请联系管理员</span>
                            </li>
                            <li>
                                <div class="pform-title">座机:</div>
                                <input name="zj" class="pform-content" type="text" />
                                <span class="pfrom-tips">请输入您的座机或手机号</span>
                            </li>
                            <li>
                                <div class="pform-title">手机1:</div>
                                <input name="sj1" class="pform-content" type="text" />
                            </li>
                            <li>
                                <div class="pform-title">手机2:</div>
                                <input name="sj2" class="pform-content" type="text" />
                            </li>
                            <li>
                                <div class="pform-title">邮箱:</div>
                                <input name="yx" class="pform-content" type="text" />
                                <span class="pfrom-tips">选择最常用的信箱地址,最优选择是集团内部邮箱</span>
                            </li>
                            <li>
                                <div class="pform-title">性别:</div>
                                <div class="pform-radio"><input name="xb" class="" type="radio" value="男" /><span>男</span></div>
                                <div class="pform-radio" style="margin-left: 35px"><input name="xb" class="" type="radio" value="女" /><span>女</span></div>
                            </li>
                            <li>
                                <div class="pform-title">部门:</div>
                                <input name="bm" class="pform-content pform-disabled" type="text" disabled="disabled"/>
                            </li>
                            <li>
                                <div class="pform-title">所属公司:</div>
                                <input name="ssgs" class="pform-content pform-disabled" type="text" disabled="disabled"/>
                            </li>
                        </ul>
                    </form>
                    <ul>
                        <li id="saveCon" class="right" style="margin-left:21%">
                            <button id="cz" class="button hover">重置</button>
                            <button id="bc" class="button hover">保存</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>