target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.mvn/wrapper/maven-wrapper.jar

.mvn/wrapper/maven-wrapper.properties

log/log.log

log.2016-12-06.log

log.2016-12-07.log

log.2016-12-08.log
/.apt_generated/
/pom.xml
