target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.mvn/wrapper/maven-wrapper.jar

.mvn/wrapper/maven-wrapper.properties


src/main/resources/application.yml

*.log

/bin/

/attachment/

/avatar/

.gitignore

*.xml

*.yml

*.svn