<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link th:href="@{/css/admin/base/table.css}" rel="stylesheet"  type="text/css"/>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box">
            <div class="portlet-body">
                <div id="tab" class="table-tab">
                    <button id="dsp" class="button">待审批</button>
                    <button id="ysp" class="button-active">已审批</button>
                </div>
                <table id="m-approve-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr class="table-title">
                        <th>会议主题</th>
                        <th>申请时间</th>
                        <th>申请人</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="m-approve-tbody" class="mt-td-checkbox">
                    <input type="hidden" id="departmentName" th:value="${userVo.departmentName}" />
                    <th:block th:if='${not #lists.isEmpty(meetingVoList)}'>
                        <tr th:each='mee : ${meetingVoList}' th:id="${mee.id}">
                            <th:block >
                                <td th:text='${mee.hyzt}'></td>
                                <td th:text='${mee.sqsj}'></td>
                                <td th:text='${mee.userName}'></td>
                                <td>待审批</td>
                                <td><div onclick="seeApprove($(this.parentNode.parentNode).attr('id'),'dsp')">查看</div>
                                    <div onclick="pass($(this.parentNode.parentNode).attr('id'))">通过</div></td>
                            </th:block>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/admin/meeting/m_approve.js}" type="text/javascript"></script>
</body>
</html>