<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
</head>
<body>
<form id="meetingroom-form">
    <input type="hidden" name="id" th:value="${meetingroom.id}" />
    <!--<input type="hidden" name="hydd" th:value="${meetingroom.hydd}" />-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="hysname">会议室名</label>
                <div class="input-group col-md-12">
                    <input id="hysname" type="text" class="form-control" name="hysname"
                           placeholder="请输入会议室名,如701" th:value="${meetingroom.hysname}" />
                </div>
            </div>

            <div class="form-group">
                <label for="location">具体地点</label>
                <div class="input-group col-md-12">
                    <input id="location" type="text" class="form-control"
                           name="location" placeholder="请输入具体地点，如9号楼"
                           th:value="${meetingroom.location}" />
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="hydd">具体地点</label>-->
                <!--<div class="input-group col-md-12">-->
                    <!--<input id="hydd" type="text" class="form-control"-->
                           <!--name="hydd" placeholder="请输入具体地点"-->
                           <!--th:value="${meetingroom.hydd}" />-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label>所属公司</label>
                <select id="hydd" name="hydd" class="form-control">

                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="capacity">可容纳最大人数</label>
                <label id="tishi1" style="color: gray;"></label>
                <div class="input-group col-md-12">
                    <input id="capacity" type="text" class="form-control" name="capacity" maxlength="5"
                           placeholder="请输入可容纳最大人数" th:value="${meetingroom.capacity}" />
                </div>
                <!--<input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"/>-->
            </div>

            <div class="form-group">
                <label for="description">备注</label>
                <label id="tishi2" style="color: gray;">(最多输入30个字)</label>
                <div class="input-group col-md-12">
                    <input id="description" type="text" class="form-control" name="description"
                          maxlength="30" onkeypress="keypress()" placeholder="请输入备注" th:value="${meetingroom.description}" />

                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>