<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
<form id="meetingrecord-form">
    <div style="margin-top:5px">
        <div style="display:inline">选择日期:
            <input id="xzrq" type="text"/>
        </div>

        <div class="ck" style="display:inline">
            <button id="ck" type="button">查看</button>
        </div>
    </div>
    <div class="syxq" style="margin-top:10px">会议室使用详情：
        <div id="container" style="min-width:400px;height:150px;">
        </div>
    </div>


</form>

<!--<script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/plugins/jquery-validation/js/additional-methods.min.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/plugins/ajaxfileupload.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/js/base/file.tool.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/js/base/jquery.file.upload.js}" type="text/javascript"></script>-->



<script type="text/javascript">
    //日期选择器，设置结束日期不得早于开始日期

    $(function() {
        laydate.render({
            elem: '#xzrq' //指定元素
            ,format: 'yyyy/MM/dd'
        });
    });
</script>
</body>
</html>