<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="lg-block">
        <div class="lg-block-title1">XXXX公共交通集团有限公司合同审办单</div>
        <div class="lg-block-content">
            <th:block>
            <ul>
                <li>
                    <div class="form-title">合同标题:</div>
                    <pre class="pre-form-content" th:text="${contractVo.htbt}"></pre>
                    <button>附件查看</button>
                </li>
                <li>
                    <div class="form-title">主要内容:</div>
                    <pre class="pre-form-content" th:text="${contractVo.htnr}"></pre>
                </li>
                <li>
                    <div class="form-title">主办人和拟合同人:</div>
                    <pre class="pre-form-content" th:text="${contractVo.userName}"></pre>
                </li>
                <li>
                    <div class="form-title">合同签订日期:</div>
                    <pre class="pre-form-content" th:text="${contractVo.nqdrq}"></pre>
                </li>
                <li>
                    <div class="form-title">期限:</div>
                    <pre class="pre-form-content" th:text="${contractVo.qx}"></pre>
                </li>
            </ul>
            </th:block>
        </div>
    </div>
    <div class="lg-block2">
        <div class="lg-block-title2">
            <span class="lg-block-subtitle1">审批流程</span>
            <span class="lg-block-subtitle2">Approval Process</span>
        </div>
        <div class="process">
            <ul>
                <li><div class="process-title">集团专员发起</div></li>
                <li><div class="process-title">负责人</div><div class="process-content-pass">通过</div></li>
                <li><div class="process-title">核稿</div><div class="process-content-pass">通过</div></li>
                <li><div class="process-title">签发</div><div class="process-content-nopass">不通过</div></li>
                <li><div class="process-title">集团专员发起</div></li>
            </ul>
        </div>
        <div class="operation">
            <form class="op-form" method="post" action="">
                <div class="yj-input">
                    <span>办理人意见:</span>
                    <label><input type="radio" name="suggest" value="同意" onclick="hide()" />同意</label>
                    <label><input type="radio" name="suggest" value="不同意" onclick="show()" />不同意</label>
                </div>
                <div class="yj-disagree">
                    <div class="form-title">审批意见:</div>
                    <textarea class="sp-input"></textarea>
                </div>
                <input type="submit" />
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var yj = document.getElementsByClassName('yj-disagree')[0];
        function show() {
            yj.setAttribute('style', 'visibility:visible');
        }
        function hide() {
            yj.setAttribute('style', 'visibility:hidden');
        }
    </script>
</body>
</html>