<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/admin/base/table.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="lg-block">
    <button id="back" class="button">返回</button>
    <div class="lg-block-title1" th:text="江宁公共交通集团有限公司+${contractVo.sbd}+合同审办单"></div>
    <div class="lg-block-content">
        <form id="c_apply_form" enctype="multipart/form-data">
        	<input name = "sbd" th:value = "${contractVo.sbd}" style = "display:none" />
            <ul>
                <li>
                    <div class="form-title">合同标题:</div>
                    <input name="htbt" class="form-content" type="text" th:value="${contractVo.htbt}" />
                </li>
                <li>
                    <div class="form-title">主要内容:</div>
                    <textarea name="htnr" class="form-content text-content" th:text="${contractVo.htnr}"></textarea>
                </li>
                <li>
                    <div class="form-title">主办人和拟合同人:</div>
                    <input name="userName" class="form-content" type="text" disabled="disabled" th:value="${contractVo.userName}"/>
                </li>
                <li>
                    <div class="form-title">合同签订日期:</div>
                    <input name="nqdrq" class="form-content date-picker" type="text" th:value="${contractVo.nqdrq}" />
                </li>
                <li>
                    <div class="form-title">期限:</div>
                    <input name="qx" class="form-content" type="text" th:value="${contractVo.qx}" />
                    <label>（例：2017-01-01-2017-02-02）</label>
                    <!--<input name="qx" class="form-content date-picker" type="text" th:value="${contractVo.qx}" />-->
                </li>
            </ul>
            <input type="hidden" name="id" th:value="${contractVo.id}" />
        </form>
        <button id="uploadFile" style="margin-left:23%" class="button-active">上传附件</button>

        <th:block th:if='${not #lists.isEmpty(contractVo.attachmentList)}'>
            <ul id="fjlb"  th:each="attach : ${contractVo.attachmentList}">
                <th:block>
                <li th:id="${attach.id}" th:text="${attach.name}"></li>
                </th:block>
            </ul>
        </th:block>

        <div id="upload-modal" class="modal modal-fixed-footer">
            <div class="modal-header">
                <h4 class="modal-title">上传附件</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" id="fileUploadForm">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="files-template-wrapper"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                        class="btn btn-outline dark">关闭</button>
            </div>
        </div>
        <ul>
            <li class="right" id="saveCon" >
                <button id="bc" class="button hover">保存</button>
                <button id="tj" class="button">提交</button>
            </li>
        </ul>
    </div>
</div>
<div class="lg-block2" id="splc">
    <div class="lg-block-title2">
        <span class="lg-block-subtitle1">审批流程</span>
        <span class="lg-block-subtitle2">Approval Process</span>
    </div>
    <div class="process">
        <th:block th:if='${not #lists.isEmpty(contractVo.lcrzList)}'>
            <ul th:each="lcrz : ${contractVo.lcrzList}">
                <th:block>
                    <li><div class="process-title" th:text="${lcrz.lcjd}"></div>
                        <th:block th:if="${lcrz.cljg=='通过'}">
                            <div th:title="${'处理意见:'+(lcrz.message==''?'无':lcrz.message)+'&#10;处理时间:'+ lcrz.clsj}"
                             class="process-content-pass" th:text="'已审核'+'('+${lcrz.userName}+')'"></div>
                        </th:block>
                        <th:block th:if="${lcrz.cljg=='不通过'}">
                            <div th:title="${'处理意见:'+(lcrz.message==''?'无':lcrz.message)
                            +'&#10;处理时间:'+ lcrz.clsj}"
                                 class="process-content-nopass" th:text="'终止'+'('+${lcrz.userName}+')'"></div>
                        </th:block>
                        <th:block th:if="${lcrz.cljg=='新增'}">
                            <div th:title="${'处理意见:'+(lcrz.message==''?'无':lcrz.message)
                            +'&#10;处理时间:'+ lcrz.clsj}"
                                 class="process-content-pass" th:text="${lcrz.cljg}+'('+${lcrz.userName}+')'"></div>
                        </th:block>
                        <th:block th:if="${lcrz.cljg=='已审核'}">
                            <div th:title="${'处理意见:'+(lcrz.message==''?'无':lcrz.message)+'&#10;处理时间:'+ lcrz.clsj}"
                                 class="process-content-pass" th:text="${lcrz.cljg}+'('+${lcrz.userName}+')'"></div>
                        </th:block>
                        <th:block th:if="${lcrz.cljg=='撤销'}">
                            <div th:title="${'撤回原因:'+(lcrz.message==''?'无':lcrz.message)+'&#10;处理时间:'+ lcrz.clsj}"
                                 class="process-content-pass" th:text="${lcrz.cljg}+'('+${lcrz.userName}+')'"></div>
                        </th:block>
                    </li>
                </th:block>
            </ul>
        </th:block>
    </div>
</div>
<script th:src="@{/js/admin/components/components-date-time-pickers.min.js}" type="text/javascript"></script>
<script th:src="@{/js/admin/contract/c_applyRecordDetail.js}" type="text/javascript"></script>
<script th:src="@{/js/admin/base/process_issues.js}" type="text/javascript"></script>
</body>
</html>