<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="lg-block">
    <div class="lg-block-title1">XXXX公共交通集团有限公司合同审办单</div>
    <div class="lg-block-content">
        <form id="c_apply_form" enctype="multipart/form-data">
            <ul>
                <li>
                    <div class="form-title">合同标题:</div>
                    <input name="htbt" class="form-content" type="text" />
                </li>
                <li>
                    <div class="form-title">主要内容:</div>
                    <textarea name="htnr" class="form-content text-content"></textarea>
                </li>
                <li>
                    <div class="form-title">主办人和拟合同人:</div>
                    <input name="userName" class="form-content" type="text" />
                </li>
                <li>
                    <div class="form-title">合同签订日期:</div>
                    <input name="nqdrq" class="form-content date-picker" type="text" />
                </li>
                <li>
                    <div class="form-title">期限:</div>
                    <input name="qx" class="form-content" type="text" />
                </li>
            </ul>
        </form>
        <ul>
            <li>
                <input name="files"  type="file"/>
                <a href="/Users/joker/Downloads/Thymeleaf中文文档/thymeleaf使用.pptx">附件查看</a>
            </li>
            <li id="saveCon" class="right">
                <button id="bc">保存</button>
                <button id="tj">提交</button>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/admin/components/components-date-time-pickers.min.js}" type="text/javascript"></script>
<script th:src="@{/js/admin/contract/c_apply.js}" type="text/javascript"></script>
</body>
</html>