<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/admin/base/table.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="lg-block">
    <div class="lg-block-content">
        <form id="s_incoming_form" enctype="multipart/form-data">
            <div class="lg-block-title1">南京江宁公共交通集团公司办公室办文单</div>
            <ul>
                <li>
                    <div class="form-title">文件标题:</div>
                    <pre class="pre-form-content" th:text="${draftSwVo.wjbt}"></pre>
                </li>
                <li>
                    <div class="form-title">来文单位:</div>
                    <pre class="pre-form-content" th:text="${draftSwVo.lwdw}"></pre>
                </li>
                <li>
                    <div class="form-title">文号:</div>
                    <pre class="pre-form-content" th:text="${draftSwVo.wh}"></pre>
                </li>
                <li>
                    <div class="form-title">日期:</div>
                    <pre class="pre-form-content" th:text="${draftSwVo.rq}"></pre>
                </li>
                <input id="mjVal" type="hidden" th:value="${draftSwVo.mj}" />
                <input id="draftSwId" type="hidden" th:value="${draftSwVo.id}"/>
                <li>
                    <div class="form-title">密级:</div>
                    <div class="pform-radio"><input  type="radio" name="mj" value="1"
                     disabled="disabled" /><span>绝密</span></div>
                    <div class="pform-radio" style="margin-left: 35px"><input  type="radio" name="mj" value="2"
                      disabled="disabled"/><span>机密</span></div>
                    <div class="pform-radio" style="margin-left: 35px"><input  type="radio" name="mj" value="3"
                     disabled="disabled"/><span>秘密</span></div>
                </li>
                <!--<li>-->
                    <!--<div class="form-title">批示领导:</div>-->
                    <!--<select name="ldId" th:if='${not #lists.isEmpty(ldList)}'>-->
                        <!--<option th:each='ld : ${ldList}' th:value="${ld.id}" th:text="${ld.fullName}"></option>-->
                    <!--</select>-->
                <!--</li>-->
            </ul>
        </form>
        <button id="uploadFile" style="margin-left:23%" class="button-active">上传附件</button>
        <ul id="fjlb">
        </ul>
        <div id="upload-modal" class="modal modal-fixed-footer">
            <div class="modal-header">
                <h4 class="modal-title">上传附件</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" id="fileUploadForm">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="files-template-wrapper"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                        class="btn btn-outline dark">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="lg-block2" id="selectCB">
    <div class="lg-block-title2">
        <span class="lg-block-subtitle1">传阅/办理</span>
        <span class="lg-block-subtitle2">Circulate/Handle</span>
    </div>
    <div style="width:260px;margin:auto">
        <button id="chyr"  class="button hover selectBu" name="button">选择传阅人</button>
        <button id="blr"  class="button hover selectBu" name="button">选择办理人</button>
    </div>
</div>
<!--<div class="lg-block2">-->
    <!--<div class="lg-block-title2">-->
        <!--<span class="lg-block-subtitle1">收文流程</span>-->
        <!--<span class="lg-block-subtitle2">Receiving Process</span>-->
    <!--</div>-->
    <!--<div class="process">-->
        <!--<th:block th:if='${not #lists.isEmpty(draftSwVo.jyzyRecordList)}'>-->
            <!--<ul th:each="jr : ${draftSwVo.jyzyRecordList}">-->
                <!--<th:block>-->
                    <!--<li><div class="process-title" th:text="${jr.lcjd}"></div>-->
                        <!--<th:block th:if="${jr.cljg=='通过'}">-->
                            <!--<div th:title="${'处理意见:'+(jr.message==''?'无':jr.message)+'&#10;处理时间:'+ jr.clsj}"-->
                                 <!--class="process-content-pass" th:text="'已审核'+'('+${jr.userName}+')'"></div>-->
                        <!--</th:block>-->
                        <!--<th:block th:if="${jr.cljg=='不通过'}">-->
                            <!--<div th:title="${'处理意见:'+(jr.message==''?'无':jr.message)+'&#10;处理时间:'+ jr.clsj}"-->
                                 <!--class="process-content-nopass" th:text="'终止'+'('+${jr.userName}+')'"></div>-->
                        <!--</th:block>-->
                        <!--<th:block th:if="${jr.cljg=='新增'}">-->
                            <!--<div th:title="${'处理意见:'+(jr.message==''?'无':jr.message)+'&#10;处理时间:'+ jr.clsj}"-->
                                 <!--class="process-content-pass" th:text="${jr.cljg}+'('+${jr.userName}+')'"></div>-->
                        <!--</th:block>-->
                    <!--</li>-->
                <!--</th:block>-->
            <!--</ul>-->
        <!--</th:block>-->
    <!--</div>-->
    <!--<div class="operation">-->
        <!--<form id="c_approveForm" class="op-form">-->
            <!--<div class="yj-input">-->
                <!--<span>办理人意见:</span>-->
                <!--<input type="radio" name="cljg" value="通过" checked="checked"/>通过-->
                <!--<span id="btg"><input type="radio" name="cljg" value="不通过" />不通过</span>-->
            <!--</div>-->
            <!--<div class="yj-disagree">-->
                <!--<div class="form-title">审批意见:</div>-->
                <!--<textarea class="sp-input" name="yj">通过</textarea>-->
            <!--</div>-->
        <!--</form>-->
        <!--<button id="submit"  class="button" style="margin-left:20%">提交</button>-->
    <!--</div>-->
<!--</div>-->
<script th:src="@{/js/admin/draftSw/s_recordsDetail.js}" type="text/javascript"></script>
<script th:src="@{/js/admin/base/process_issues.js}" type="text/javascript"></script>
<script th:src="@{/plugins/jstree/dist/jstree.min.js}" type="text/javascript"></script>
<script th:src="@{/js/admin/components/pSelector.js}" type="text/javascript"></script>
</body>
</html>