.table-bordered>thead>tr>th {
    border: 1px solid rgb(0,120,58);
}

.table-title {
    background-color: rgb(0,120,58);
    color: white;
}

.table-tab {
    border-bottom: 1px solid rgb(0,120,58);
    padding: 0 0 10px;
    margin-bottom: 15px;
}

.button {
    color: #ffffff;
    background: rgb(0,120,58);
    border: 1px solid rgb(0,120,58);
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
}

.button-active {
    color: #ffffff;
    background: rgb(65,173,60);
    border: none;
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
}


#c-approve-tbody tr td:last-child div{
    color:blue;
    cursor: pointer;
    margin-left:10px;
    display: inline;
}

.hover:hover{
    color: rgb(0,120,58);
    background: #ffffff;
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
}

#back {
    float: right;
}

#user-table.table-bordered>thead>tr>th {
        border: 1px solid #e7ecf1;
}

.news-subTitle {
    font-size: 13px;
    text-align: center;
    color: #999;
}

.news-content {
    padding: 0 80px;
    word-wrap: break-word;
}
#d-approve-tbody tr td:last-child div{
    color:blue;
    cursor: pointer;
    margin-left:10px;
    display: inline;
}
#d-fw-notify-tbody tr td:last-child div{
    color:blue;
    cursor: pointer;
    margin-left:10px;
    display: inline;
}
#m-approve-tbody tr td:last-child div{
    color:blue;
    cursor: pointer;
    margin-left:10px;
    display: inline;
}
#m-hy-notify-tbody tr td:last-child div {
    color: blue;
    cursor: pointer;
    margin-left: 10px;
    display: inline;
}
.select-process{
    color: #ffffff;
    background: rgb(65,173,60);
    border: none;
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
    width: 64px;
    height: 29px;
}

