<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
       <title>合同详情</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" type="text/css"/>
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css" type="text/css"/>
</head>
<body>
	<article class="weui_article">
    <h1>网页授权页面</h1>
    <section>
        <h2 class="title">点击如下链接进行授权</h2>
        <section>
            <h3>1.1 节标题</h3>
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx9b77c621c69ea369&amp;redirect_uri=16r3r84766.51mypc.cn/weixin/login&amp;response_type=codes&amp;cope=SCOPE&amp;state=STATE#wechat_redirect">
            https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx9b77c621c69ea369&amp;redirect_uri=16r3r84766.51mypc.cn/weixin/login&amp;response_type=codes&amp;cope=SCOPE&amp;state=STATE#wechat_redirect
            </a>
        </section>
    </section>
</article>
</body>
</html>