<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
       <title>合同详情</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" type="text/css"/>
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css" type="text/css"/>
</head>
<body>
	<div class="weui_cells">
		<div class="weui_cells_title">公司名称</div>
  		<div class="weui_cell">
			<div class="weui_cell_bd">
   				<p>公司名称</p>
   			</div>
  		</div>
  		<div class="weui_cells_title">合同标题</div>
  		<div class="weui_cell">
			<div class="weui_cell_bd">
   				<p>合同标题</p>
   			</div>
  		</div>
  		<div class="weui_cells_title">主要内容</div>
  		<div class="weui_cell">
			<div class="weui_cell_bd">
   				<p>主要内容</p>
   			</div>
  		</div>
  		<div class="weui_cells_title">主办人和拟合同人</div>
  		<div class="weui_cell">
			<div class="weui_cell_bd">
   				<p>主办人和拟合同人</p>
   			</div>
  		</div>
  		<div class="weui_cells_title">合同拟签订日期</div>
  		<div class="weui_cell">
			<div class="weui_cell_bd">
   				<p>合同拟签订日期</p>
   			</div>
  		</div>
  		<div class="weui_cells_title">期限</div>
  		<div class="weui_cell">
			<div class="weui_cell_bd">
   				<p>期限</p>
   			</div>
  		</div>
	</div>
</body>
</html>