<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
       <title>合同列表</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" type="text/css"/>
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css" type="text/css"/>
</head>
<body>
<div class="weui_cells">
  <a class="weui_cell weui_cells_access" href="javascript:;">
    <div class="weui_cell_bd">
      <p>合同标题1</p>
    </div>
    <div class="weui_cell_ft">
    </div>
  </a>
  <a class="weui_cell weui_cells_access" href="javascript:;">
    <div class="weui_cell_bd">
      <p>合同标题2</p>
    </div>
    <div class="weui_cell_ft">
    </div>
  </a>
</div>
</body>
</html>