<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
       <title>收文列表</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" type="text/css"/>
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css" type="text/css"/>
</head>
<body>
<div id="pre_body">
		<div class='weui_cell_hd'><div class='weui_cells_title'>收文列表</div>
		<a class='weui_cell weui_cells_access' href='/weixin/draftSwDetail'>
        <div class='weui_cell_bd weui_cell_primary'>
            <p>收文标题</p>
        </div>
        <div class='weui_cell_ft'>
        </div>
        </a>
        <a class='weui_cell weui_cells_access' href='/weixin/draftSwDetail'>
        <div class='weui_cell_bd weui_cell_primary'>
            <p>收文标题2</p>
        </div>
        <div class='weui_cell_ft'>
        </div>
        </a>
        <a class='weui_cell weui_cells_access' href='/weixin/draftSwDetail'>
        <div class='weui_cell_bd weui_cell_primary'>
            <p>收文标题3</p>
        </div>
        <div class='weui_cell_ft'>
        </div>
        </a>
        </div>
</div>
</body>

            <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
			<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/jquery-weui.min.js"></script>
</html>