<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device_width,initial_scale=1,user_scalable=0"/>
		<title>首页</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" type="text/css"/>
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery_weui/0.8.3/css/jquery_weui.min.css" type="text/css"/>
		<link th:href="@{/css/admin/weixin/weixin.css}" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id='body'>
	<header class='demos-header'>
      <h1 class="demos-title">江宁公交OA系统</h1>
    </header>

	<div class="weui_grids">
	  <a th:href="${htsp}" class="weui_grid js_grid">
	    <div class="weui_grid__icon">
	      <img th:src="@{/images/icon_nav_button.png}"/>
	    </div>
	    <p class="weui_grid__label">
	      合同审批
	    </p>
	  </a>
	</div>
	</div>
</body>
			<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
			<script src="//cdn.bootcss.com/jquery_weui/0.8.3/js/jquery_weui.min.js"></script>
</html>