<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
		<title>首页</title>
		<link th:href="@{/css/admin/weixin/weui.min.css}" rel="stylesheet"  type="text/css"/>
		<link th:href="@{/css/admin/weixin/jquery-weui.css}" rel="stylesheet"  type="text/css"/>
		<link th:href="@{/css/admin/weixin/weixin.css}" type="text/css" rel="stylesheet" />
</head>
<!--  <body class="login">
-->
<body>
	<div class="page__hd">
		<div class="page__title">
			江宁公交集团
		</div>
		<p class="page__desc" id="desc_normal">系统需要获取您的的授权获取您的微信号来登录办公系统</p>
		<p class="page__desc" id="desc_fail" display="none">登录失败！</p>
	</div>
	<div class="page__bd page__bd_spacing">
			<div class="weui-cells">
	        
			<input type="hidden"  id="urlblock" th:value="${url}"/>
			<input type="hidden"  id="fail" th:value="${fail}"/>
			<button class="weui-btn weui-btn_primary" id="buttom">授权登录</button>
			</div>
	</div>
			
</body>
			
			<script th:src="@{/js/weixin/jquery-2.1.4.js}" type="text/javascript"></script>
			<script th:src="@{/js/weixin/jquery-weui.min.js}" type="text/javascript"></script>
			
			<script th:src="@{/js/weixin/homepage.js}" type="text/javascript"></script>
</html>