<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/admin/base/table.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="lg-block">
    <div class="lg-block-content">
        <form id="c_apply_form" enctype="multipart/form-data">
            <div class="lg-block-title1"><input id="sbd" name="sbd" class="form-content" type="text" value="江宁公共交通集团" />公司文件拟稿纸</div>
            <ul>
                <li>
                    <div class="form-title">合同标题:</div>
                    <input name="htbt" class="form-content" type="text" style="width:380px;"/>
                </li>
                <li>
                    <div class="form-title">主要内容:</div>
                    <textarea name="htnr" class="form-content text-content"></textarea>
                </li>
                <li>
                    <div class="form-title">主办人和拟合同人:</div>
                    <input name="userName" class="form-content" type="text" disabled="disabled" th:value="${contractVo.userName}"
                           style="background: #ddd;"/>
                </li>
                <li>
                    <div class="form-title">合同签订日期:</div>
                    <input name="nqdrq" class="form-content date-picker" type="text" />
                </li>
                <li>
                    <div class="form-title">期限:</div>
                    <input name="qx" class="form-content date-picker" type="text" />
                </li>
            </ul>
        </form>
        <button id="uploadFile" style="margin-left:23%" class="button-active">上传附件</button>
        <ul id="fjlb">
        </ul>
        <div id="upload-modal" class="modal modal-fixed-footer">
            <div class="modal-header">
                <h4 class="modal-title">上传附件</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" id="fileUploadForm">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="files-template-wrapper"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                        class="btn btn-outline dark">关闭</button>
            </div>
        </div>
        <ul>
            <li id="saveCon" class="right">
                <button id="bc" class="button hover">保存</button>
                <button id="tj" class="button hover">提交</button>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/admin/components/components-date-time-pickers.min.js}" type="text/javascript"></script>
<script th:src="@{/js/admin/contract/c_apply.js}" type="text/javascript"></script>
<script th:src="@{/plugins/ajaxfileupload.js}" type="text/javascript"></script>
<script th:src="@{/js/base/file.tool.js}" type="text/javascript"></script>
<script th:src="@{/js/base/jquery.file.upload.js}" type="text/javascript"></script>
</body>
</html>