<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{/css/admin/base/form.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/admin/base/table.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="lg-block">
    <button id="back" class="button">返回</button>
    <div class="lg-block-title1" th:text="南京江宁公共交通集团有限公司+${documentVo.zgs}+发文单"></div>
    <div class="lg-block-content">
        <div id="id" th:text="${documentVo.id}"  style="display:none;"></div>
        <div id="fwtzid" th:text="${documentVo.fwtzid}" style="display:none;"></div>
        <ul>
            <li>
                <div class="form-title">公文标题:</div>
                <pre class="pre-form-content" th:text="${documentVo.bt}"></pre>
            </li>
            <li>
                <div class="form-title">主题词:</div>
                <pre class="pre-form-content" th:text="${documentVo.ztc}"></pre>
            </li>
            <li>
                <div class="form-title">主办人和拟公文人:</div>
                <pre class="pre-form-content" th:text="${documentVo.userName}"></pre>
            </li>
            <li>
                <div class="form-title">密级:</div>
                <div class="pform-radio"><input name="mj" type="radio" value="1" th:checked="${documentVo.mj=='1'}" th:disabled="true"/><span>绝密</span></div>
                <div class="pform-radio" style="margin-left: 35px"><input name="mj" type="radio" value="2" th:checked="${documentVo.mj=='2' }" th:disabled="true"/><span>机密</span></div>
                <div class="pform-radio" style="margin-left: 35px"><input name="mj" type="radio" value="3" th:checked="${documentVo.mj=='3' }" th:disabled="true"/><span>秘密</span></div>
            </li>
            <!--<li>-->
                <!--<div class="form-title">门户网站发布:</div>-->
                <!--<div class="pform-radio"><input name="sffb" type="radio" value="1" th:checked="${documentVo.sffb=='1' }" th:disabled="true"/><span>是</span></div>-->
                <!--<div class="pform-radio" style="margin-left: 35px"><input name="sffb" type="radio" value="2" th:checked="${documentVo.sffb=='2' }" th:disabled="true"/><span>否</span></div>-->
            <!--</li>-->
            <li>
                <th:block th:if="${documentVo.htbh != null}">
                    <div class="form-title" >编号:</div>
                    <pre class="pre-form-content" th:text="${documentVo.htbh}"></pre>
                </th:block>
            </li>
            <input id="attachList" type="hidden" th:value="${documentVo.attachmentList}" />
            <li><button id="fjck" class="button-active" style="margin-left: 0px">附件查看</button></li>
            <div class="lg-block-title2">主送:</div>
            <li>
                <ul>
                    <li>
                        <div class="form-title">公司高管:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.zsgsgg}">无</pre>
                    </li>
                    <li>
                        <div class="form-title">公司部门:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.zsgsbm}">无</pre>
                    </li>
                    <li>
                        <div class="form-title">公司办公室:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.zsqtgsbgs}"></pre>
                    </li>
                    <li>
                        <div class="form-title">外部单位:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.zswbdw}"></pre>
                    </li>
                </ul>
            </li>
            <div class="lg-block-title2">抄报:</div>
            <li>
                <ul>
                    <li>
                        <div class="form-title">公司高管:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.cbgsgg}">无</pre>
                    </li>
                    <li>
                        <div class="form-title">公司部门:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.cbgsbm}"></pre>
                    </li>
                    <li>
                        <div class="form-title">公司办公室:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.cbqtgsbgs}"></pre>
                    </li>
                    <li>
                        <div class="form-title">外部单位:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.cbwbdw}"></pre>
                    </li>
                </ul>
            </li>
            <div class="lg-block-title2">抄送:</div>
            <li>
                <div class="form-title">抄送:</div>
                <ul>
                    <li>
                        <div class="form-title">公司高管:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.csgsgg}">无</pre>
                    </li>
                    <li>
                        <div class="form-title">公司部门:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.csgsbm}"></pre>
                    </li>
                    <li>
                        <div class="form-title">公司办公室:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.csqtgsbgs}"></pre>
                    </li>
                    <li>
                        <div class="form-title">外部单位:</div>
                        <pre class="pre-form-content" th:text="${fwtzVo.cswbdw}"></pre>
                    </li>
                </ul>
            </li>
            <li class="right">
                <button id="yd" class="button hover">已读</button>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/admin/document/d_fw_notify_xq.js}" type="text/javascript"></script>
</body>
</html>